table {
    width: 95%;
    margin-left: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}

th.mat-header-cell {
    text-align: left;
    font-size: 14px; 
    font-weight: bold;
    max-width: 300px;

}

td.mat-cell {
    font-size: 12px; 
}