<div class="container" style="max-width: 50%;">

  <form class="example-form">

    <h1 class="mb-3 mt-5 text-center">Adicionar Status</h1>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Status</mat-label>
      <input matInput placeholder="Informe o status" [(ngModel)]="statusObj.name" name="name" type="text">
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Descrição</mat-label>
      <textarea matInput placeholder="Informe a Descrição"  [(ngModel)]="statusObj.description"></textarea>
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Estereótipo</mat-label>
      <input matInput placeholder="Informe o Estereótipo" [(ngModel)]="statusObj.stereotype" name="stereotype" type="text">
    </mat-form-field>

    <section>
      <button mat-button color="primary" (click)="addStatus(statusObj)">Enviar</button>
    </section>
    
  </form>
</div>