<app-parameter-menu></app-parameter-menu>
<!--{{ model | json }}-->
<div [hidden]="submitted">
  <form (ngSubmit)="onSubmit()" #parameterForm="ngForm">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" required [ngModel]="model?.name"
      (ngModelChange)="model.name = $event" name="name" #name="ngModel">
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
      Name is required
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea type="text" class="form-control" id="description" [ngModel]="model?.description"
        (ngModelChange)="model.description = $event" name="description">
          </textarea>
    </div>

    <button type="button" class="btn btn-default" (click)="newParameter(); parameterForm.reset()">New Parameter</button>
    <button type="submit" class="btn btn-success" [disabled]="!parameterForm.form.valid">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Name</div>
    <div class="col-xs-9">{{ model?.name }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Description</div>
    <div class="col-xs-9">{{ model?.description }}</div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="goBack()">Go Back</button>
</div>