<div class="container">
    <mat-card class="example-card">

        <mat-card-title>
            <h2>Usuários</h2>
        </mat-card-title>

        <form [formGroup]="form" (ngSubmit)="submit()">

            <div class="form-group">
                <label for="name">Username</label>
                <input 
                    formControlName="username"
                    id="username" 
                    type="text" 
                    class="form-control">
                    <div *ngIf="f['username'].touched && f['username'].invalid" class="alert alert-danger">
                    <div *ngIf="f['username'].errors  && f['username'].errors['required']">O nome de usuário é obrigatório.</div>
                    <div *ngIf="f['username'].errors  && f['username'].errors['minlength']">O nome de usuário deve possuir no mínimo 3 caracteres.</div>
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input 
                    formControlName="password"
                    id="password" 
                    type="password" 
                    class="form-control">
                    <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
                    <div *ngIf="f['password'].errors && f['password'].errors['password']">É necessário informar a senha.</div>
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input 
                    formControlName="email"
                    id="email" 
                    type="text" 
                    class="form-control">
                    <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                    <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
                    <div *ngIf="f['email'].errors && f['email'].errors['email']">Please, enter valid email address.</div>
                </div>
            </div>

            <div class="form-group">
                <label for="mobile">Telefone</label>
                <input 
                    formControlName="mobile"
                    id="mobile" 
                    type="mobile" 
                    class="form-control">
            </div>

            <div class="form-group">
                <label for="name">Name</label>
                <input 
                    formControlName="name"
                    id="name" 
                    type="name" 
                    class="form-control">
            </div>

            <div class="form-group">
                <label for="role_id">Papel</label>
                <input 
                    formControlName="role_id"
                    id="role_id" 
                    type="role_id" 
                    class="form-control">
            </div>

            <div class="form-group">
                <label for="author_id">Autor</label>
                <input 
                    formControlName="author_id"
                    id="author_id" 
                    type="author_id" 
                    class="form-control">
            </div>

            <button class="btn btn-primary" style="float:right" [disabled]="form.invalid" type="submit">Enviar</button>
            <button class="btn btn-primary" style="float:right" (click)="resetForm()">Limpar</button>

        </form>
        
        <mat-card-footer>
            <h4>Mat card footer</h4>
        </mat-card-footer>
    </mat-card>
</div>