<div class="container" style="max-width: 50%;">

  <form class="example-form">

    <h1 class="mb-3 mt-5 text-center">Adicionar workflow</h1>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Workflow</mat-label>
      <input matInput placeholder="Digite o nome do workflow" [(ngModel)]="workflowObj.name" name="name" type="text">
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Descrição</mat-label>
      <textarea matInput placeholder="Informe a descrição"  [(ngModel)]="workflowObj.description" name="description"></textarea>
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Tipo de entidade</mat-label>
      <input matInput placeholder="Tipo de entidade" [(ngModel)]="workflowObj.entity_type" name="entity_type" type="text">
    </mat-form-field>

    <br />
    <mat-form-field appearance="fill">
      <mat-label>Inicia em:</mat-label>
      <input matInput [matDatepicker]="datepickerstart" [(ngModel)]="workflowObj.start_at" name="start_at">
      <mat-datepicker-toggle matSuffix [for]="datepickerstart"></mat-datepicker-toggle>
      <mat-datepicker #datepickerstart></mat-datepicker>
    </mat-form-field>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <mat-form-field appearance="fill">
      <mat-label>Finaliza em:</mat-label>
      <input matInput [matDatepicker]="datepickerend" [(ngModel)]="workflowObj.end_at" name="end_at">
      <mat-datepicker-toggle matSuffix [for]="datepickerend"></mat-datepicker-toggle>
      <mat-datepicker #datepickerend></mat-datepicker>
    </mat-form-field>

    <section>
      <button mat-button color="primary" (click)="addWorkflow(workflowObj)">Enviar</button>
    </section>
    
  </form>
</div>