<div class="container" style="max-width: 500px;">
    <h3 class="mb-3 mt-5 text-center">Editar usuário</h3>

    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput type="text" [(ngModel)]="usuarioForm.nome" class="form-control"  name="Nome">
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Usuário</mat-label>
      <input matInput type="text" [(ngModel)]="usuarioForm.username" class="form-control"  name="Usuario">
    </mat-form-field>
  
    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="text" [(ngModel)]="usuarioForm.email" class="form-control"  name="email">
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Telefone</mat-label>
      <input matInput type="text" [(ngModel)]="usuarioForm.telefone" class="form-control"  name="Telefone">
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Papel</mat-label>
      <input matInput type="text" [(ngModel)]="usuarioForm.papel" class="form-control" name="Papel">
    </mat-form-field>
  
    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="updateUser(usuarioForm.id, usuarioForm)">Update User</button>
    </div>  
</div>