<div class="container" style="max-width: 500px;">
    <h1 class="mb-3 mt-5 text-center">Adicionar usuário</h1>

    <div class="form-group">
      <label for="workflowname">Usuário</label>
      <input type="text" [(ngModel)]="workflowObj.name" class="form-control" placeholder="Digite o nome do usuário">
    </div>

    <div class="form-group">
      <label for="password">Senha</label>
      <input type="password" [(ngModel)]="workflowObj.description" class="form-control" placeholder="Digite a senha">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" [(ngModel)]="workflowObj.author_id" class="form-control" placeholder="Informe o email">
    </div>

    <div class="form-group">
      <label for="mobile">Telefone</label>
      <input type="text" [(ngModel)]="workflowObj.id_versao_origem" class="form-control" placeholder="Informe o telefone para contato">
    </div>

    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" [(ngModel)]="workflowObj.status_id" class="form-control" placeholder="Informe o nome do usuário">
    </div>

    <div class="form-group">
      <label for="role_id">Papel</label>
      <input type="text" [(ngModel)]="workflowObj.stereotype" class="form-control" placeholder="Papel">
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="addWorkflow(workflowObj)">Enviar</button>
    </div>
</div>