.container{
    width:100%;
}

table {
    width:100%;
}

.mat-row-grid-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 44px;
    line-height: 36px;
    padding: 0 8px;
    border-radius: 4px;
    overflow: visible;
    background: transparent;
}