<div class="container text-left">
    <div style="text-align: center">
      <button mat-button type="button" (click)="openDialog('Add',{})" mat-flat-button color="primary">Add
        Parameter</button>
    </div>
    <br>
    <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8">
  
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef width="5%"> ID. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef width="20%"> Name </th>
        <td mat-cell *matCellDef="let element"> 
          <span style="text-align: left;">
            {{element.name}} 
          </span>
        </td>
      </ng-container>

      <!-- Value Column -->
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef width="45%"> Value </th>
        <td mat-cell *matCellDef="let element"> 
          <mat-form-field floatLabel="never" style="width:30vw">
            <input matInput placeholder="Value" [value]="element.value" [(ngModel)]="element.value">
          </mat-form-field>
        </td>
      </ng-container>
  
      <!-- Action Column -->
      <ng-container matColumnDef="action" width="30%">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element" class="action-link">
          <a (click)="openDialog('Update',element)" matTooltip="Edit this scenario">
            <mat-icon>edit_note</mat-icon>
          </a>&nbsp;
          <a (click)="openDialog('Delete',element)" matTooltip="Remove this scenario">
            <mat-icon>playlist_remove</mat-icon>
          </a>&nbsp;

          <a (click)="move('Up',element)" matTooltip="Move up">
            <mat-icon>keyboard_arrow_up</mat-icon>
          </a>&nbsp;
          <a (click)="move('First',element)" matTooltip="Move to first position">
            <mat-icon>keyboard_double_arrow_up</mat-icon>
          </a>&nbsp;
          <a (click)="move('Last',element)" matTooltip="Move to last position">
            <mat-icon>keyboard_double_arrow_down</mat-icon>
          </a>&nbsp;
          <a (click)="move('Down',element)" matTooltip="Move down">
            <mat-icon>keyboard_arrow_down</mat-icon>
          </a>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
  </div>