<div class="container" style="max-width: 50%;">

  <form class="example-form">

    <h1 class="mb-3 mt-5 text-center">Adicionar Escritório</h1>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Escritório</mat-label>
      <input matInput placeholder="Informe o nome da escritório" [(ngModel)]="officeObj.nome" name="nome" type="text">
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Abreviatura</mat-label>
      <input matInput placeholder="Informe a abreviatura" [(ngModel)]="officeObj.abreviatura" name="abreviatura"
        type="text">
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Descrição</mat-label>
      <textarea matInput placeholder="Informe a descrição" [(ngModel)]="officeObj.descricao"
        name="descricao"></textarea>
    </mat-form-field>

    <br />
    <div class="form-group">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Chefe</mat-label>
        <input type="text"
               placeholder="Selecione o chefe"
               aria-label="Number"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <br />
    <button mat-raised-button (click)="openDialogUsuarios()">Adicionar usuário</button>&nbsp;&nbsp;

    <section>
      <button mat-button color="primary" (click)="addOffice(officeObj)">Enviar</button>
    </section>

  </form>
</div>
