<div class="container" style="max-width: 50%;">

  <form class="example-form" name="formEscritorio">

    <h1 class="mb-3 mt-5 text-center">Adicionar Escritório</h1>

    <mat-form-field class="example-full-width" appearance="fill">
      <label for="nome">Escritório</label>
      <input [(ngModel)]="officeObj.nome" type="text" name="nome" matInput placeholder="Digite o nome do Escritório.">
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <label for="abreviatura">Abreviatura</label>
      <input [(ngModel)]="officeObj.nome" type="text" name="abreviatura" matInput placeholder="Digite  a abreviatura.">
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <label for="descricao">Descrição</label>
        <textarea [(ngModel)]="officeObj.descricao" type="text" name="descricao" matInput placeholder="Digite a descrição"></textarea>
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width">
      <mat-label>Chefe</mat-label>
      <input type="text" placeholder="Selecione" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.nome">
          {{option.nome}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <br />
    <section>
      <button class="btn btn-primary"  (click)="addOffice(officeObj)" style="float: right;">Enviar</button>
    </section>
    
  </form>
</div>
