<div class="container" style="max-width: 500px;">
    <h1 class="mb-3 mt-5 text-center">Adicionar Escritório</h1>

    <div class="form-group">
      <label for="nome">Escritório</label>
      <input type="text" [(ngModel)]="officeObj.nome" class="form-control" placeholder="Digite o nome do Escritório">
    </div>

    <div class="form-group">
      <label for="abreviatura">Abreviatura</label>
      <input type="text" [(ngModel)]="officeObj.abreviatura" class="form-control" placeholder="Digite a abreviatura">
    </div>

    <div class="form-group">
      <label for="descricao">Descricao</label>
      <textarea [(ngModel)]="officeObj.descricao" matInput class="form-control" placeholder="Informe a descrição"></textarea>
    </div>

    <div class="form-group">
      <label for="chefe_id">Chefe</label>
      <input type="text" [(ngModel)]="officeObj.chefe_id" class="form-control" placeholder="Informe o Chefe">
    </div>

    <div class="form-group">
      <button mat-button (click)="openDialog()">Adicionar usuário</button>
      <button class="btn btn-success btn-lg btn-block" (click)="addOffice(officeObj)">Enviar</button>
    </div>
</div>