<h1 mat-dialog-title><strong>Scenario</strong></h1>
<div mat-dialog-content>
  <mat-select placeholder="Select a scenario" [(value)]="selectedScenario.id">
    <mat-option *ngFor="let scenario of scenarios" [value]="scenario.id">
      {{scenario.name}}
    </mat-option>
  </mat-select>
  <ng-template #elseTemplate>
    Sure to delete <b>{{selectedScenario.name}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button type="button" mat-button (click)="doAction()">{{action}}</button>
  <button type="button" mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>