<table class="table table-striped table-bordered table-sm row-border hover" id="datatableexample">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Description</th>
      <th>Entidade</th>
      <th>Inicia em</th>
      <th>finaliza em</th>
    </tr>
  </thead>
  <tbody>
   <tr *ngFor="let workflow of workflows">
         <td>{{workflow.id}}</td>
         <td>{{workflow.name}}</td>
         <td>{{workflow.description}}</td>
         <td>{{workflow.entity_type}}</td>
         <td>{{workflow.start_at}}</td>
         <td>{{workflow.end_at}}</td>
     </tr>
  </tbody>
</table>