<div class="container mt-5">
    <div class="d-flex flex-row-reverse bd-highlight">
      <button class="btn btn-primary" routerLink="/workflow/add">Adicionar Workflow</button>
    </div>
    <h2 class="mb-3 text-center">Workflows</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Descrição</th>
          <th scope="col">Autor</th>
          <th scope="col">Criado em</th>
          <th scope="col">Versão de origem</th>
          <th scope="col">Status</th>
          <th scope="col">Estereótipo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let workflow of Workflow">
          <td>{{ workflow.id }}</td>
          <td>{{ workflow.name }}</td>
          <td>{{ workflow.description }}</td>
          <td>{{ workflow.author_id }}</td>
          <td>{{ workflow.id_versao_origem }}</td>
          <td>{{ workflow.status_id }}</td>
          <td>{{ workflow.stereotype }}</td>
          <td>
            <span class="material-icons" (click)="delete(workflow.id)">delete</span>
            <span class="material-icons" routerLink="/workflow/edit/{{ workflow.id }}">edit</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>