<div class="container">
    <mat-card>

        <mat-card-header>
            <mat-card-title>
                <H1>Dados do usuário atual</H1>
            </mat-card-title>
            <mat-card-subtitle>
                <h2>Roy Batty</h2>
            </mat-card-subtitle>
        </mat-card-header>
  
        <mat-card-content>
            <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris sem, viverra viverra ex at, tincidunt lobortis diam. Donec leo leo, luctus sed eros sit amet, interdum fringilla libero. Phasellus eu elit id enim gravida pulvinar id rhoncus nibh. Etiam non felis ipsum. Vivamus placerat at ipsum lacinia luctus. Curabitur a leo aliquet, dignissim ligula vel, consequat dui. Vivamus mattis rhoncus mi, condimentum posuere sem.</P>
            <P>Pellentesque sed augue arcu. Pellentesque dapibus orci non metus dignissim sagittis. Aliquam sagittis metus nibh, vel scelerisque justo consectetur id. Vestibulum a velit nisl. Integer posuere libero vitae malesuada tempus. Ut odio velit, accumsan sed nisi et, consequat dapibus augue. Vestibulum erat ligula, gravida et suscipit a, scelerisque eu arcu. Curabitur volutpat est enim. Sed non dolor velit.</P>
            <P>Suspendisse quis interdum quam. Praesent id nibh fringilla justo sodales condimentum. Nullam nisi orci, suscipit non varius in, molestie vel turpis. In cursus, tortor at maximus cursus, metus felis convallis velit, sed elementum massa nisi eget odio. Morbi imperdiet nisi eget mattis sodales. Quisque laoreet velit et ex gravida accumsan vel eu massa. Aliquam interdum nisl vel dictum placerat. Donec malesuada dui non sapien fermentum fermentum. Ut nec pharetra sem, non posuere mi. Vivamus eu bibendum massa, eget egestas nunc. Nulla ut arcu massa. Donec malesuada dui suscipit cursus efficitur. Vestibulum aliquet, elit non condimentum pellentesque, lacus leo ullamcorper eros, id dapibus magna urna eget purus. Fusce eu felis eu massa tempor semper. Phasellus sit amet ullamcorper tortor, eget condimentum felis. Pellentesque vitae maximus quam, eget vehicula sapien.</P>
        </mat-card-content>

    </mat-card>
  </div>

