<div class="container mt-5">
    <div class="d-flex flex-row-reverse bd-highlight">
      <button class="btn btn-primary" routerLink="/feature/add">Adicionar Funcionalidades</button>
    </div>
    <h2 class="mb-3 text-center">Funcionalidades</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Código</th>
          <th scope="col">Descrição</th>
          <th scope="col">Autor</th>
          <th scope="col">Dt Criação</th>
          <th scope="col">Versão</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let feature of Feature">
          <td>{{ feature.id }}</td>
          <td>{{ feature.name }}</td>
          <td>{{ feature.code }}</td>
          <td>{{ feature.description }}</td>
          <td>{{ feature.author_id }}</td>
          <td>{{ feature.created_at | date:"dd/MM/yyyy hh:mm":"pt" }}</td>
          <td>{{ feature.id_versao_origem }}</td>
          <td>{{ feature.status_id }}</td>
          <td>
            <span class="material-icons" (click)="delete(feature.id)">delete</span>
            <span class="material-icons" routerLink="/feature/edit/{{ feature.id }}" style="float: right;">edit</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>