<div class="container" style="max-width: 50%;">

  <h1 class="mb-3 mt-5 text-center">Adicionar usuário</h1>
  <form class="example-form">

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Informe o nome do usuário" [(ngModel)]="usuario.name" name="name" type="text">
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Informe o email" [(ngModel)]="usuario.email" name="email" type="text">
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Telefone</mat-label>
      <input matInput placeholder="(XX) 99999-9999." [(ngModel)]="usuario.mobile" name="email" type="tel">
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Usuário</mat-label>
      <input matInput placeholder="Digite o nome do usuário." [(ngModel)]="usuario.username" name="email" type="text">
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput placeholder="Digite a senha." [(ngModel)]="usuario.password" name="password" type="password">
    </mat-form-field>

    <br />
    <mat-form-field appearance="fill">
      <mat-label>Papel</mat-label>
      <mat-select>
        <mat-option *ngFor="let role of Roles" [value]="role.id">{{role.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <section>
      <button mat-button color="primary" (click)="addUser(usuario)">Enviar</button>
    </section>
    
  </form>
</div>