<div class="container" style="max-width: 50%;">

  <form class="example-form">

    <h1 class="mb-3 mt-5 text-center">Adicionar usuário</h1>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Informe o nome do usuário" [(ngModel)]="usuario.nome" name="nome" type="text">
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Informe o email" [(ngModel)]="usuario.email" name="email" type="text">
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Telefone</mat-label>
      <input matInput placeholder="(XX) 99999-9999." [(ngModel)]="usuario.telefone" name="telefone" type="tel">
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Usuário</mat-label>
      <input matInput placeholder="Digite o nome do usuário." [(ngModel)]="usuario.username" name="username" type="text">
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput placeholder="Digite a senha." [(ngModel)]="usuario.password" name="password" type="password">
    </mat-form-field>

    <br />
    <mat-form-field appearance="fill" *ngIf = "Papeis">
      <mat-label>Papel</mat-label>
      <mat-select>
        <mat-option *ngFor="let papel of Papeis" [value]="papel.papel_id" name="papel">{{papel.nome}}</mat-option>
      </mat-select>
    </mat-form-field>

    <section>
      <button class="btn btn-primary" (click)="addUser(usuario)">Enviar</button>
    </section>

  </form>
</div>
