<div class="container" style="max-width: 50%;">

  <h1 class="mb-3 mt-5 text-center">Adicionar ação</h1>
  <form class="example-form" id="actionForm">

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Informe o nome da Ação" [(ngModel)]="actionObj.name" name="name" type="text">
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Origem Status</mat-label>
      <input matInput placeholder="Informe o identificador de status de origem" [(ngModel)]="actionObj.origin_status_id" name="origin_status_id" type="text">
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Destinação Status</mat-label>
      <input matInput placeholder="Informe o identificador de status de destino" [(ngModel)]="actionObj.destination_status_id" name="destination_status_id" type="text">
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Descrição</mat-label>
      <textarea matInput placeholder="Informe a descrição"  [(ngModel)]="actionObj.description"></textarea>
    </mat-form-field>

    <br />
    <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="actionObj.other_than" [ngModelOptions]="{standalone: true}" name="outro">Outro</mat-checkbox>
    </section>

    <section>
      <button mat-button color="primary" (click)="addAction(actionObj)">Enviar</button>
    </section>
    
  </form>
</div>