<div class="container" style="max-width: 500px;">
    <h1 class="mb-3 mt-5 text-center">Adicionar usuário</h1>

    <div class="form-group">
      <label for="username">Usuário</label>
      <input type="text" [(ngModel)]="userObj.username" class="form-control" placeholder="Digite o nome do usuário">
    </div>

    <div class="form-group">
      <label for="password">Senha</label>
      <input type="password" [(ngModel)]="userObj.password" class="form-control" placeholder="Digite a senha">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" [(ngModel)]="userObj.email" class="form-control" placeholder="Informe o email">
    </div>

    <div class="form-group">
      <label for="mobile">Telefone</label>
      <input type="text" [(ngModel)]="userObj.mobile" class="form-control" placeholder="Informe o telefone para contato">
    </div>

    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" [(ngModel)]="userObj.name" class="form-control" placeholder="Informe o nome do usuário">
    </div>

    <div class="form-group">
      <label for="role_id">Papel</label>
      <input type="text" [(ngModel)]="userObj.role_id" class="form-control" placeholder="Papel">
    </div>

    <div class="form-group">
      <label for="author_id">Autor</label>
      <input type="text" [(ngModel)]="userObj.author_id" class="form-control" placeholder="Autor">
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="addUser(userObj)">Enviar</button>
    </div>
</div>