table {
  width: 95%;
  margin-left: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

.example-detail-row {
    height: 0;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .detail-table {
    background: #b7b7b773;

  }

  .table-sm {
    width: 95%;
  }

  .celulaDetalhesUsuarioEscritorio {
    text-align: left;
  }