<div class="container mt-5">
    <div class="d-flex flex-row-reverse bd-highlight">
      <button class="btn btn-primary" routerLink="/add">Adicionar Escritório</button>
    </div>
    <h2 class="mb-3 text-center">Escritórios</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Abreviatura</th>
          <th scope="col">Descrição</th>
          <th scope="col">Chefe</th>
          <th scope="col">Autor</th>
          <th scope="col">Criado em</th>
          <th scope="col">Id Versão</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let office of Office">
          <td>{{ office.id }}</td>
          <td>{{ office.nome }}</td>
          <td>{{ office.abreviatura }}</td>
          <td>{{ office.descricao }}</td>
          <td>{{ office.chefe_id }}</td>
          <td>{{ office.author_id }}</td>
          <td>{{ office.criado_em | date:"dd/MM/yyyy hh:mm":"pt"}}</td>
          <td>{{ office.id_versao_origem }}</td>
          <td>{{ office.status_id }}</td>
          <td>
            <span class="material-icons" (click)="delete(office.id)">delete</span>
            <span class="material-icons" routerLink="/office/edit/{{ office.id }}" style="float: right;">edit</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>