<div class="wrapper">

  <h1>Escritorios</h1>

  <table mat-table [dataSource]="Offices" class="mat-elevation-z8">
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id. </th>
      <td mat-cell *matCellDef="let escritorio"> {{escritorio.id}} </td>
    </ng-container>
    
    <!-- nome Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let escritorio"> {{escritorio.nome}} </td>
    </ng-container>
  
  
    <!-- descricao Column -->
    <ng-container matColumnDef="abreviatura">
      <th mat-header-cell *matHeaderCellDef> Abreviatura </th>
      <td mat-cell *matCellDef="let escritorio"> {{escritorio.abreviatura}} </td>
    </ng-container>
  
    <!-- descricao Column -->
    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef> Descrição </th>
      <td mat-cell *matCellDef="let escritorio"> {{escritorio.descricao}} </td>
    </ng-container>
  
    <!-- chefe_nome Column -->
    <ng-container matColumnDef="chefe_nome">
      <th mat-header-cell *matHeaderCellDef> Chefe </th>
      <td mat-cell *matCellDef="let escritorio"> {{escritorio.chefe_nome}} </td>
    </ng-container>


    <!-- descricao Column -->
    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef> Acoes </th>
      <td mat-cell *matCellDef="let escritorio"> 
        <a routerLink="/office/view/{{ escritorio.id }}"><mat-icon aria-hidden="false" aria-label="visualizar">preview</mat-icon></a>
        <a routerLink="/office/edit/{{ escritorio.id }}"><mat-icon aria-hidden="false" aria-label="Editar usuário">mode_edit</mat-icon></a>
        <mat-icon aria-hidden="false" aria-label="Excluir usuário"  (click)="delete(escritorio)">delete</mat-icon>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  


  </table>
  
  