<table class="table table-striped table-bordered table-sm row-border hover" id="datatableexample">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Abreviatura</th>
      <th>Descrição</th>
      <th>Papel</th>
    </tr>
  </thead>
  <tbody>
   <tr *ngFor="let office of Offices">
         <td>{{office.id}}</td>
         <td>{{office.nome}}</td>
         <td>{{office.abreviatura}}</td>
         <td>{{office.descricao}}</td>
         <td>{{office.chefe_id}}</td>
     </tr>
  </tbody>
</table>