div.container {
  margin: 20px;
  width: 95%;
}

div.container mat-card {
  padding: 5px !important;
  margin-top: 20px !important;
}

div.container mat-card-header {
  padding: 5px !important;
  margin-top: 20px !important;
}

div.container mat-card-content {
  margin: 0;
  padding: 0px 40px 40px 40px;
  text-align: justify;
}

div.container mat-card-actions {
  padding: 20px;
  float: right;
}

div.container mat-card-footer {
  margin: 0;
  padding: 20px;
}

.mat-card-xl-image {
    width: 208px;
    height: 163px;
    padding: 10px 20px 0px 0px;
}

.mat-card-title-group {
  float: left;
}
