  <table mat-table [dataSource]="Actions" matSort>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
      <td mat-cell *matCellDef="let action"> {{ action.id }} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
      <td mat-cell *matCellDef="let action"> {{ action.name }} </td>
    </ng-container>

    <ng-container matColumnDef="origin_status_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status origem</th>
      <td mat-cell *matCellDef="let action"> {{ action.origin_status_id }} </td>
    </ng-container>

    <ng-container matColumnDef="destination_status_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Destination Status</th>
      <td mat-cell *matCellDef="let action">{{ action.destination_status_id }}</td>
    </ng-container>

    <ng-container matColumnDef="other_than">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Outros</th>
      <td mat-cell *matCellDef="let action">{{action.other_than }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
      <td mat-cell *matCellDef="let action">{{ action.description }}</td>
    </ng-container>

    <ng-container matColumnDef="author_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Autor</th>
      <td mat-cell *matCellDef="let action">{{ action.author_id }}</td>
    </ng-container>

    <ng-container matColumnDef="criado_em">
      <th mat-header-cell *matHeaderCellDef>Criado em</th>
      <td mat-cell *matCellDef="let action">{{ action.criado_em | date:"dd/MM/yyyy hh:mm":"pt" }}</td>
    </ng-container>

    <ng-container matColumnDef="id_versao_origem">
      <th mat-header-cell *matHeaderCellDef>Versão origem</th>
      <td mat-cell *matCellDef="let action">{{action.id_versao_origem}}</td>
    </ng-container>

    <ng-container matColumnDef="status_id">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let action">{{action.status_id}}</td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let action"><span class="material-icons" (click)="delete(action.id)">delete</span></td>
    </ng-container>

    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let action"><span class="material-icons" routerLink="/user/edit/{{ action.id }}" style="float: right;">edit</span></td>
    </ng-container> 
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[20]" showFirstLastButtons style="width: 95%; margin-left: 20px; padding-bottom: 10px;"></mat-paginator>
  

