<table class="table table-striped table-bordered table-sm row-border hover" id="datatableexample">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Status Origem</th>
      <th>Status Destino</th>
      <th>Outro</th>
      <th>Descrição</th>
    </tr>
  </thead>
  <tbody>
   <tr *ngFor="let acao of Acoes">
         <td>{{acao.id}}</td>
         <td>{{acao.nome}}</td>
         <td>{{acao.origin_status_id}}</td>
         <td>{{acao.destination_status_id}}</td>
         <td>{{acao.other_than}}</td>
         <td>{{acao.descricao}}</td>
     </tr>
  </tbody>
</table>