<div class="container" [class.is-mobile]="mobileQuery.matches">

  <mat-toolbar color="primary" class="toolbar">

    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>

    <h1 class="app-name">{{title}}</h1>        
    
    <span class="toolbar-spacer"></span>
    <a routerLink="home" mat-list-item><button mat-icon-button aria-label="Home" placeholder="Início"><mat-icon>home</mat-icon></button></a>
    <a routerLink="activeUser" mat-list-item><button mat-icon-button aria-label="User" placeholder="Usuário"><mat-icon>person</mat-icon></button></a>
    <a routerLink="/expandedrow" mat-list-item><button mat-icon-button aria-label="Sandbox" placeholder="Configurações"><mat-icon>settings</mat-icon></button></a>
    <a routerLink="home" mat-list-item><button mat-icon-button aria-label="Help" placeholder="Ajuda"><mat-icon>help</mat-icon></button></a>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="More" placeholder="Mais"><mat-icon>more_vert</mat-icon></button>
      <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>people</mat-icon>
        <span>Sobre nós</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Desabilitar alertas</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0" #navcontainer>
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
          <a mat-list-item (click)="toggleMenu('administracao')">
            <mat-icon color="primary" mat-list-icon>settings</mat-icon>Administração
            <mat-icon *ngIf="!showMenu_administracao">chevron_right</mat-icon>
            <mat-icon *ngIf="showMenu_administracao">expand_more</mat-icon>
          </a>
          <mat-nav-list class="sidenav-submenu  submenu-administracao" *ngIf="showMenu_administracao">
            <a routerLink="/user/dashboard" mat-list-item><mat-icon color="primary" mat-list-icon>people</mat-icon>Usuários</a>
            <a routerLink="/office/dashboard" mat-list-item><mat-icon color="primary" mat-list-icon>corporate_fare</mat-icon>Escritórios</a>
            <a routerLink="/perfil/dashboard" mat-list-item><mat-icon color="primary" mat-list-icon>badge</mat-icon>Perfis</a>
            <a routerLink="/feature/dashboard" mat-list-item><mat-icon color="primary" mat-list-icon>dashboard</mat-icon>Funcionalidades</a>
            <a routerLink="/status/dashboard" mat-list-item><mat-icon color="primary" mat-list-icon>view_list</mat-icon>Status</a>
            <a routerLink="/action/dashboard" mat-list-item><mat-icon color="primary" mat-list-icon>outbound</mat-icon>Ações</a>
            <a routerLink="/workflow/dashboard" mat-list-item><mat-icon color="primary" mat-list-icon>schema</mat-icon>Workflow</a>
          </mat-nav-list>

          <hr />
          <!-- Test-cases -->
          <a mat-list-item (click)="toggleMenu('Configuracao')">
            <mat-icon color="primary" mat-list-icon>tune</mat-icon>Configuração<span class="toolbar-spacer"></span>
            <mat-icon *ngIf="!showMenu_Configuracao">chevron_right</mat-icon>
            <mat-icon *ngIf="showMenu_Configuracao">expand_more</mat-icon>
          </a>
          <mat-nav-list class="sidenav-submenu" *ngIf="showMenu_Configuracao">
            <a routerLink="/user/dashboard" mat-list-item><mat-icon color="primary" mat-list-icon>dashboard</mat-icon>Dashboard</a>
          </mat-nav-list>
          
          <hr />
          <!-- Test-cases -->
          <a mat-list-item (click)="toggleMenu('Coordenacao')">
            <mat-icon color="primary" mat-list-icon>spatial_audio_off</mat-icon>Coordenação<span class="toolbar-spacer"></span>
            <mat-icon *ngIf="!showMenu_Coordenacao">chevron_right</mat-icon>
            <mat-icon *ngIf="showMenu_Coordenacao">expand_more</mat-icon>
          </a>
          <mat-nav-list class="sidenav-submenu" *ngIf="showMenu_Coordenacao">
            <a routerLink="/user/dashboard" mat-list-item><mat-icon color="primary" mat-list-icon>dashboard</mat-icon>Dashboard</a>
          </mat-nav-list>

          <hr />
          <!-- Test-cases -->
          <a mat-list-item (click)="toggleMenu('Avaliacao')">
            <mat-icon color="primary" mat-list-icon>stars</mat-icon>Avaliação<span class="toolbar-spacer"></span>
            <mat-icon *ngIf="!showMenu_Avaliacao">chevron_right</mat-icon>
            <mat-icon *ngIf="showMenu_Avaliacao">expand_more</mat-icon>
          </a>
          <mat-nav-list class="sidenav-submenu" *ngIf="showMenu_Avaliacao">
            <a routerLink="/user/dashboard" mat-list-item><mat-icon color="primary" mat-list-icon>dashboard</mat-icon>Dashboard</a>
          </mat-nav-list>

        </mat-nav-list>
      </mat-sidenav>
      <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>