<div class="container" style="max-width: 50%;">

  <form class="example-form">

    <h1 class="mb-3 mt-5 text-center">Adicionar funcionalidade</h1>
    
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Informe o nome da funcionalidade" [(ngModel)]="featureObj.name" name="name" type="text">
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Código</mat-label>
      <input matInput placeholder="Informe o código" [(ngModel)]="featureObj.code" name="code" type="text">
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Descrição</mat-label>
      <textarea matInput placeholder="Informe a descrição"  [(ngModel)]="featureObj.description"></textarea>
    </mat-form-field>

    <section>
      <button mat-button color="primary" (click)="addFeature(featureObj)">Enviar</button>
    </section>
    
  </form>
</div>