<div class="container mt-5">
    <div class="d-flex flex-row-reverse bd-highlight">
      <button class="btn btn-primary" routerLink="/add">Adicionar Status</button>
    </div>
    <h2 class="mb-3 text-center">Status</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#Id</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Autor</th>
          <th scope="col">Dt Criação</th>
          <th scope="col">Versao origem</th>
          <th scope="col">status</th>
          <th scope="col">Estereótipo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let status of Status">
          <td>{{ status.id }}</td>
          <td>{{ status.name }}</td>
          <td>{{ status.description }}</td>
          <td>{{ status.author_id }}</td>
          <td>{{ status.created_at | date:"dd/MM/yyyy hh:mm":"pt"}}</td>
          <td>{{ status.id_versao_origem }}</td>
          <td>{{ status.status_id }}</td>
          <td>{{ status.stereotype }}</td>
          <td>
            <span class="material-icons" (click)="delete(status.id)">delete</span>
            <span class="material-icons" routerLink="/edit/{{ status.id }}" style="float: right;">edit</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>