<h1 mat-dialog-title><strong>Parameter</strong></h1>
<div mat-dialog-content>
  <mat-select placeholder="Select a parameter" [(value)]="selectedParameter.id">
    <mat-option *ngFor="let parameter of parameters" [value]="parameter.id">
      {{parameter.name}}
    </mat-option>
  </mat-select>
  <ng-template #elseTemplate>
    Sure to delete <b>{{selectedParameter.name}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button type="button" mat-button (click)="doAction()">{{action}}</button>
  <button type="button" mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>